// colors

$lightgrey: #f1f1fb;
$grey: #cbcbd9;
$red: #ea4c3c;
$darkblue: #393a62;
$blue: #747399;
$lightblue: #9292ae;
$redsalmon: #dba09e;
$navgrey: #f8f8ff;
$textcolorblue: #1a194d;

$tablet: 768px;
$laptop: 1200px;
